#notflix-navbar{
	color:red;
	font-weight:bold;
}

.button{
	background-color:red;
	font-weight:bold;
	border-color: #000000;
}

#filmPoster{
	padding:0;
	margin-bottom:5%;
	margin-top:5%;
	border:1px solid white;
	position: relative;
	left: 2%;
	float:left;
	width: 17em;
	height: 30em;
	
	
}

.filmFrame h2{
	margin:0;
	font-weight: bold;
}
.filmFrame h3{
	margin-top: 0.4%;
}

.filmFrame{
	background-color: #ddd;
	margin:0.5%;
	width:24%;
	float:left;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	
}

.filmFrame:hover{
	cursor: pointer;
	cursor: hand;
}

#mainContent{
	overflow: hidden;
}

.user {
	background-color: #ddd;
}

.filmdetail{
	clear: both;
	overflow: hidden;
}

#rateForm{
	display: inline;
}
#rateBox{
	float: left;
	width: 40%;
}

#rateBtn{
	float: left;
}
